body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.open {
    background-color: #0984e3;
    color: white;
}

.product_box {
    animation: 1s ease-out 0s 1 slideInFromDown;
    z-index: 10;
}

    .product_box:hover {
        border: 1px solid black;
        transform: scale(1.07);
        z-index: 1000;
    }

.my-panel {
    margin-top: 10px;
    margin-right: 10px;
    width: 32%;
    position: relative;
    display: inline-block;
    border-color: #81ecec;
}

.panel-default > .my-panel-footer {
    background-color: #81ecec;
}

.my-border {
    border-color: #81ecec;
}

.show {
    width: 70%;
    margin-left: 17%;
    display: flex;
    float: center;
}

/*Align the searchbar nicely.*/
.right-margin {
    margin-right: 400px !important;
}


/* CSS for rating products. */
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

    .rate:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .rate:not(:checked) > label:before {
            content: '★ ';
        }

    .rate > input:checked ~ label {
        color: #ffc700;
    }

    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08; /* TODO: Change this ugly colour. */
    }

.order {
    background-color: #D10024;
    color: white !important;
    font-size: 12px;
}

.this-order {
    background-color: #800117;
    color: white !important;
    font-size: 15px;
}

.fake_link {
    /* background: none !important; */
    border: none;
    padding: 0 !important;
    display: block;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.categories {
    position: absolute;
    top: 30%;
    left: 5%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.cat-panel {
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 0px;
    padding-top: 10px;
    padding-left: 5px;
    height: 40px;
    width: 105%;
    border: none;
    display: block;
}

    .cat-panel:hover {
        transform: scale(1.07);
    }
