body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.open {
    background-color: #0984e3;
    color: white;
}
.product_box {
    animation: 1s ease-out 0s 1 slideInFromDown;
    z-index: 10;
}
.product_box:hover {
    border: 1px solid black;
    transform: scale(1.07);
    z-index: 1000;
}

.my-panel {
    margin-top: 10px;
    margin-right: 10px;
    width: 32%;
    position: relative;
    display: inline-block;
    border-color: #81ecec;
}
.panel-default > .my-panel-footer {
    background-color: #81ecec;
}
.my-border {
    border-color: #81ecec;
}
.show {
    width: 70%;
    margin-left: 17%;
    display: flex;
    float: center;
}