@using Microsoft.AspNet.Identity
@using System.Linq
@{
    ViewBag.Title = "Shop";
}

@if (User.IsInRole("Colaborator"))
{
    <h1>Produsele mele</h1>
}
<br />
<hr />
<br />
<input type="hidden" id="verifica" value=0 />
<h3>Produse in curs de adaugare:</h3>
@if (!ViewBag.anyPending)
{
    <h4>Nu exista produse in asteptare</h4>
}
@foreach (neMag.Models.Product product in ViewBag.Products)
{
    if (product.Accepted == false)
    {
        <input type="hidden" id="verifica" value=1 />
        <div class="panel panel-default">

            @Html.Partial("productInfo", product)

            <div class="panel-footer">
                @{
                    TempData["reqSource"] = true;
                }
                <a class="btn btn-success pull-left" href="/Products/Show/@product.ProductId">Deschidere</a>
                <a class="btn btn-success pull-left" href="/Products/Edit/@product.ProductId">Modifica</a>
                <div class="clearfix"></div>
            </div>
        </div>
    }

}
<h3>Produse active:</h3>
@if (ViewBag.magazin == 0)
{
    <h4>Nu exista produse in magazin</h4>
}
@foreach (neMag.Models.Product product in ViewBag.Products)
{
    if (product.Accepted == true)
    {
        <input type="hidden" id="verifica" value=1 />
        <div class="panel panel-default">

            @Html.Partial("productInfo", product)

            <div class="panel-footer">
                @{
                    TempData["reqSource"] = true;
                }
                <a class="btn btn-success pull-left" href="/Products/Show/@product.ProductId">Deschidere</a>
                <a class="btn btn-success pull-left" href="/Products/Edit/@product.ProductId">Modifica</a>

                <div class="clearfix"></div>
            </div>
        </div>
    }

}