@model neMag.Models.Category
@{
    ViewBag.Title = "New";
}

<h2>Categorie noua</h2>
@using (Html.BeginForm(actionName: "New", controllerName: "Categories"))
{
    <br />
    @Html.HiddenFor(c => c.CategoryId);
    @Html.Label("CategoryName", "Numele categoriei")
    <br />
    @Html.TextBox("CategoryName", null, new { @class = "form-control"})
    @Html.ValidationMessageFor(c => c.Title, null, new {  @class = "text-danger"})
    <br />
    <button class="btn btn-sm btn-success" type="submit">Salveaza</button>
}

